<div ng-controller="AddMyContributorController">
	<form novalidate name="addContributor" ng-submit="addContributor(contributor)">
		<p>
			ID:<input type="text" name="id" ng-model="contributor.id" required ng-maxlength="10" ng-pattern="/^[0-9]+$/">
			<span ng-show="addContributor.id.$error.required">Required!</span>
			<span ng-show="addContributor.id.$error.minlength">Too short!</span>
			<span ng-show="addContributor.id.$error.maxlength">Too long!</span>
			<span ng-show="addContributor.id.$error.pattern">Miss match!</span>
		</p>
		<p><input type="submit" value="add" ng-disabled="addContributor.$invalid"></p>
	</form>
</div>