<div ng-controller="VideoListController">
	<ul>
		<li ng-repeat="video in videos | orderBy:'serial_no':true">
			<img src="{{ video.thumbnail_url }}"><span>{{ video.title }}</span>
			<button ng-click="watched(video.id)">watched</button>
			<span>{{ video.watched }}</span>
		</li>
	</ul>
</div>
<div>
	<ul class="pager">
		<li><a href="#/new"><span class="glyphicon glyphicon-arrow-left"></span>Newer</a></li>
		<li><a href="#/new">Older<span class="glyphicon glyphicon-arrow-right"></span></a></li>
	</ul>
</div>

