<div ng-controller="VideoListController">
	<pager ng-change="pageChanged()" total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" previous-text="« Newer" next-text="Older »"></pager>
	<ul>
		<li ng-repeat="video in videos | orderBy:'serial_no':true">
			<img src="{{ video.thumbnail_url }}"><span>{{ video.title }}</span>
			<button ng-click="watched(video.id)">watched</button>
			<span>{{ video.watched }}</span>
		</li>
	</ul>
	<pager ng-change="pageChanged()" total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" previous-text="« Newer" next-text="Older »"></pager>
</div>
