<div class="video-tab-container" ng-controller="VideoListController">
  <alert ng-repeat="alert in alerts" type="{{ alert.type }}" close="closeAlert(alerts, $index)">{{ alert.msg }}</alert>
  <pager ng-change="pageChanged()" total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" previous-text="« Newer" next-text="Older »"></pager>
  <div ng-include="'./partials/videoListTools.part.html'"></div>
  <div class="loading-img" ng-class="{'enabled': isLoading === true, 'disabled': isLoading === false}"></div>
  <div ng-include="'./partials/videoList.part.html'"></div>
  <pager ng-change="pageChanged()" total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" previous-text="« Newer" next-text="Older »"></pager>
</div>
