<div id="visual" ng-controller="AuthorizeController" ng-show="isUnAuthorized">
  <div class="catch-copy">NicoTune</div>
  <div class="description">NicoTuneはお気に入りユーザーの新着動画をより便利にウォッチできるツールです。</div>
</div>
<!-- 広告 start -->
<div ng-controller="AuthorizeController" ng-show="isUnAuthorized != undefined && !isUnAuthorized" style="width: 468px; margin: 0 auto;">
  <div ng-controller="AdController">
    <a href="{{ headAd.anchorUrl }}" target="_blank">
      <img border="0" width="468" height="60" alt="" src="{{ headAd.imgUrl }}"></a>
    <img border="0" width="1" height="1" src="{{ headAd.secretUrl }}" alt="">
  </div>
</div>
<!-- 広告 end -->
<div ng-controller="VideoListTabsController">
  <tabset>
    <tab ng-repeat="tab in tabs" heading="{{ tab.name }}" active="tab.active">
      <div class="tab-pane" id="{{ tab.id }}" ng-include="tab.partial"></div>
    </tab>
  </tabset>
</div>
<!-- 広告 start -->
<div ng-controller="AuthorizeController" ng-show="isUnAuthorized != undefined && !isUnAuthorized" style="width: 468px; margin: 10px auto;">
  <div ng-controller="AdController">
    <a href="{{ footAd.anchorUrl }}" target="_blank">
      <img border="0" width="468" height="60" alt="" src="{{ footAd.imgUrl }}"></a>
    <img border="0" width="1" height="1" src="{{ footAd.secretUrl }}" alt="">
  </div>
</div>
<!-- 広告 end -->
