<div id="visual" ng-controller="AuthorizeController" ng-show="isUnAuthorized">
	<div class="catch-copy">NicoTune</div>
	<div class="description">NicoTuneはお気に入りユーザーの新着動画をより便利にウォッチできるツールです。</div>
</div>
<!-- 広告 start -->
<div ng-controller="AuthorizeController" ng-show="!isUnAuthorized" style="width: 468px; margin: 0 auto;">
	<a href="http://px.a8.net/svt/ejp?a8mat=2C0RZT+10WXTU+6HW+1NNF3L" target="_blank">
		<img border="0" width="468" height="60" alt="" src="http://www24.a8.net/svt/bgt?aid=141124025062&wid=003&eno=01&mid=s00000000842010019000&mc=1"></a>
	<img border="0" width="1" height="1" src="http://www10.a8.net/0.gif?a8mat=2C0RZT+10WXTU+6HW+1NNF3L" alt="">
</div>
<!-- 広告 end -->
<div ng-controller="VideoListTabsController">
	<tabset>
		<tab ng-repeat="tab in tabs" heading="{{ tab.name }}" active="tab.active">
			<div class="tab-pane" id="{{ tab.id }}" ng-include="tab.partial"></div>
		</tab>
	</tabset>
</div>
<!-- 広告 start -->
<div ng-controller="AuthorizeController" ng-show="!isUnAuthorized" style="width: 468px; margin: 10px auto;">
	<a href="http://px.a8.net/svt/ejp?a8mat=2C0RZT+DDNQPU+3106+5ZU29" target="_blank">
		<img border="0" width="468" height="60" alt="" src="http://www23.a8.net/svt/bgt?aid=141124025809&wid=003&eno=01&mid=s00000014127001007000&mc=1"></a>
	<img border="0" width="1" height="1" src="http://www18.a8.net/0.gif?a8mat=2C0RZT+DDNQPU+3106+5ZU29" alt="">
</div>
<!-- 広告 end -->
