#header {
	margin-bottom: 10px;
}

.video-thumbnail {
	width: 104px;
	height: 80px;
}

.contributor-thumbnail {
	width: 24px;
	height: 24px;
}

form[name="addContributor"] input[name="id"] {
	width: 100%;
}